struct TestUniform { colour: vec4<f32>, flags: vec4<u32>, }
/* {{ "TestUniform"|wgsl_type }} */
{{ "TestMode"|wgsl_enum -}}
{{ "values"|wgsl_binding }} var values: texture_2d<f32>;
{{ "TEST_SCALE"|wgsl_constant }}
