{{ "TestUniform"|wgsl_type }}
const TestMode_Preview: u32 = 2u;
const TestMode_Final: u32 = 9u;
/* {{ "TestMode"|wgsl_enum }} */
{{ "values"|wgsl_binding }} var values: texture_2d<f32>;
{{ "TEST_SCALE"|wgsl_constant }}
